__pycache__/

*.pyc
*.db
bin/
include/
lib/
local/
env
site

docker
.idea/
.vscode
.cache
media
db.sqlite3

.DS_Store
tests/.DS_Store
tests/fixtures/.DS_Store
tests/fixtures/cassettes/.DS_Store
celerybeat-schedule
tmp/
.coverage
coverage.*
*.sql
